/*
  SPACING SYSTEM (px)
      2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128
  FONT SIZE SYSTEM (px)
      10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98
  MAIN COLORS
    #236be8
  GREY COLOR
    #343A40
*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Inter", sans-serif;
  color: #343a40;
  line-height: 1;
}
.accordion {
  width: 700px;
  margin: 100px auto;
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.item {
  /* first value is horizontal offset */
  /* second value is vertical offset */
  /* third value is blur offset */
  /* I use the rgba to apply the alpha */
  box-shadow: 0 0 32px rgba(0, 0, 0, 0.1);
  padding: 24px;
  display: grid;
  grid-template-columns: auto 1fr auto;
  column-gap: 24px;
  row-gap: 32px;
  align-items: center;
  /* border-top: 5px solid #236be8; */
}
.icon {
  width: 24px;
  height: 24px;
  stroke: #236be8;
}

.text,
.number {
  font-size: 24px;
  font-weight: bolder;
  color: #236be8;
}
.number {
  color: #ced4da;
}
.hidden-box {
  grid-column: 2;
  display: none;
}
.hidden-box p {
  line-height: 1.6;
  margin-bottom: 24px;
}
.hidden-box ul {
  color: #868e96;
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: flex-start;
}
.hidden-box li {
  font-size: 14px;
  line-height: 1.3;
}
.open {
  border-top: 4px solid #236be8;
}
.open .hidden-box {
  display: block;
}
